body{
margin:0;
background:#050505;
font-family:Arial;
color:white;
}

.container{
text-align:center;
padding:20px;
}

h1{
color:#f2c94c;
font-size:60px;
text-shadow:0 0 20px gold;
cursor:pointer;
}

/* PRIZE */
.prize-box input{
padding:10px;
width:250px;
}

.prize-box button{
padding:10px 20px;
background:gold;
border:none;
cursor:pointer;
}

/* WHEEL */
.wheel-wrapper{
position:relative;
width:600px;
margin:auto;
}

.pointer{
position:absolute;
top:-20px;
left:50%;
transform:translateX(-50%);
border-left:15px solid transparent;
border-right:15px solid transparent;
border-top:40px solid red;
z-index:10;
}

#wheel{
border-radius:50%;
box-shadow:0 0 30px gold;
transition:transform 45s cubic-bezier(0.05,0.9,0.1,1);
}

#spinBtn{
margin-top:20px;
padding:15px 50px;
background:gold;
border:none;
font-size:20px;
cursor:pointer;
}

/* PARTICIPANTS */
.participants{
position:fixed;
right:20px;
top:100px;
background:#111;
padding:10px;
width:250px;
border:1px solid gold;
}

.participants input{
width:100%;
padding:10px;
}

.participants button{
width:100%;
margin-top:5px;
background:gold;
border:none;
padding:10px;
}

#winnerModal{
display:none;
position:fixed;
inset:0;
background:rgba(0,0,0,0.9);
justify-content:center;
align-items:center;
}

.modal-content{
background:#111;
padding:40px;
border:2px solid gold;
text-align:center;
}

.modal-content h1{
font-size:80px;
color:gold;
}

/* ADMIN */
.admin-panel{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#111;
border:2px solid gold;
padding:20px;
width:300px;
display:none;
z-index:9999;
}

.admin-panel h2{
color:gold;
text-align:center;
}

.admin-panel input{
width:100%;
padding:10px;
margin:10px 0;
}

.admin-panel button{
width:100%;
padding:10px;
margin-top:5px;
background:gold;
border:none;
cursor:pointer;
}
