@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background:#080808;
 color:white;
}

.gold{
 color:#D4AF37;
}

.luxury-card{
 background:rgba(255,255,255,.05);
 backdrop-filter:blur(12px);
 border:1px solid rgba(212,175,55,.3);
 border-radius:20px;
}
